.color-container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 400px;
  background-color: #333333;
}
.color-container .color-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.color-container .slider-wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.color-container .slider-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid #FFFFFF;
  border-radius: 20px;
}
